	::-webkit-scrollbar{width:5px;}
	::-webkit-scrollbar-track{background-color:#999;}
	::-webkit-scrollbar-thumb{background-color:#fff;}
	::-webkit-scrollbar-thumb:hover {background-color:#000}
	::-webkit-scrollbar-thumb:active {background-color:#fff}
		

	*{
	margin:0;
	padding:0;
	}
	
	
	#title{
	font-size:150%;
	font-weight:bold;
	margin: 0 auto;
	line-height:5%;
	text-align:center;
	}
			
	#author {
	font-size:80%;
	line-height:5%;
	text-align:center;
	}
	
	#wordsTable{
	font-family:"MS Mincho","Batang","Dotum";
	font-size:2em;
	margin: 0 auto;
	line-height:2em;
	width: 70%;
	position:absolute;
	white-space: pre-wrap; 
	word-wrap: break-word;
	padding:10px 15% 0 15% ;
	background: rgba(255,251, 254, 0.8);
	z-index:2;
	}
	
	#wordsTable a {
	font-size: medium;
	color: rgb(162, 162, 162);
	

	#backGround {
	width:100%;
	height:100%;
	top:0;
	position:fixed;
	background: url("../img/bg.jpg") no-repeat fixed top;	 
	z-index:1;
	}
	
	pre { 
	z-index:3;
	background:rgba(255, 255, 255, 0.8);
	/*css-3*/ 
	white-space: -moz-pre-wrap; /*Mozilla,since1999*/ 
	white-space: -pre-wrap; /*Opera4-6*/ 
	white-space: -o-pre-wrap; /*Opera7*/ 
	word-wrap: break-word; /*InternetExplorer5.5+*/ 
	} 